
html{
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
background-color: #efefef;
}

header{
    background-color: #364552;
    color: white;
    padding: 48px 32px;
}

header h1{
   font-size: 48px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
}



.tarjetas{
    display: flex;
    justify-content: space-around;
}


section div{
    transition: box-shadow 0.3s ease ;
    background-color: white;
    margin: 16px 0px;
    border-radius: 8px;
    padding: 4px 0;
    cursor: pointer; 
}

section div:hover{
    box-shadow: 0 1.6px 6.4px rgba(0, 0, 0, 0.3);
}

section div h2, section div p {
    margin: 16px;
}

.container{
    width: 100%;
    position: relative;
    height: 100%;
}

.botones{
    font-size: 30px;
    width :70px;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 7);
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;;
    box-shadow: 0 0 10px rgba(255, 255, 255, 6);
     -webkit-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
}

.botones:hover{
    cursor: pointer;
    transform: scale(1.2,1.2);
}

.atras{
    left: 2%;
    top: calc(50%);
}

.adelante{
    right: 2%;
    top: calc(50%);
}

#imagen{
    flex: auto;
    width: 100%;
}

footer{
    background-color: #364552;
    padding: 47px;
}

footer section{
    float: right;
}

.contacto{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

footer p{
    margin: 0;
}

.titulos{
    margin: 30px;
    display: flex;
    justify-content: center;
}

.secciones{
    margin: 30px;
    
  
}

form{
    display: block;
    margin: 7px;
}

.error{
border: 2.5px groove red;
}